state-conductor-example/src/test/ml-modules/root/test/suites/StateConductorSuite/test-data/flows/ref-path-flow.asl.json
{
  "Comment": "is used in the test reference path tests",
  "mlDomain": {
    "context": []
  },
  "StartAt": "test-data",
  "States": {
    "test-data": {
      "Type": "Pass",
      "Result": {
        "foo": "bar",
        "inner": {
          "name": {
            "first": "John",
            "last": "Doe"
          },
          "collections": "test-col-1",
          "test": "testing, testing, 1-2-3"
        }
      },
      "OutputPath": "$.inner",
      "Next": "add-collections"
    },
    "add-collections": {
      "Type": "Task",
      "Comment": "initial state of the flow",
      "Resource": "/state-conductor/actions/common/add-collections.sjs",
      "Parameters": {
        "collections.$": "$.collections"
      },
      "OutputPath": "$.test",
      "Next": "success"
    },
    "test-data2": {
      "Type": "Pass",
      "Result": {
        "inner": {
          "name": {
            "test": "test"
          }
        }
      },
      "OutputPath": "$",
      "Next": "success"
    },
    "test-data3": {
      "Type": "Pass",
      "Result": "foo",
      "OutputPath": "$",
      "Next": "success"
    },
    "success": {
      "Type": "Succeed",
      "End": true
    }
  }
}
